<h2><%= label %> <a href="<%= jsonFilesConfig.getCategoryFilename(category) %>" target="_blank" style="font-size: 0.7em; margin-left: 10px; text-decoration: none; color: #007cba;">[JSON]</a></h2>
<% if (data && data.length > 0) { %>
  <%- include('table', { data: data, convertToDisplayName: convertToDisplayName }) %>
<% } else { %>
  <p>None Found</p>
<% } %> 